/**
ELIXIR colors:
 * orange: #F47D1F
 * dark blue: #023453
**/

:root {
  --site-color: #023453;
}

#headband { background-color: var(--site-color) }

#logo_topleft {
  float: left;
  margin-top: 4px;
  margin-left: 8px;
  width: 16px;
}

#logo_topright {
  float: right;
  margin-top: 4px;
  margin-right: 10px;
  width: 40px; 
}


#sitelogo {}

#outlinks {}

#catlinks {}

#tagcloud {}
