<div>
  <div class="container-fluid">
<div class="row bn-hero-gray b-t">
<div class="mx-width clearfix p-v-lg">
<div class="col-xs-12 col-md-5" itemscope itemtype="http://schema.org/Organization">
<h4 class="font-bold h4">Beacon</h4>
<p>
  is an open standard for genomics data discovery, developed by members of the Global Alliance for Genomics & Health
</p>
</div>
<div class="col-xs-12 col-md-3 p-v-lg" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
</div>
<div class="col-xs-12 col-md-4 p-v-lg">
<h4 class="font-bold h4">Contact</h4>

<p>
  <a itemprop="email" href="mailto:beacon@genomicsandhealth.org"><i class="fa fa-envelope"></i> beacon@genomicsandhealth.org </a><br/>
</p>

<p>
  <a href="https://twitter.com/BeaconofBeacons"><i class="fa fa-twitter"></i> @BeaconofBeacons</a>
</p>
</div>
<div class="col-xs-12 p-v-lg">
<span class="small pull-right">
  <a ui-sref="privacy">Privacy Policy</a>&nbsp;&nbsp;&nbsp;<a href="">Terms of Use</a>
</span>
<span class="small pull-left">
  &copy; 2018 Copyright Beacon Project
</span>
</div>
</div>
</div>
</div>


</div>
