<div>
  <nav  class="navbar navbar-fixed-top b-b" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="mx-width">
<div class="navbar-header" itemscope itemtype="http://schema.org/Organization">

<a class="hidden"
 itemprop="url" href="http://beacon-project.io">Home</a>

<button type="button" class="navbar-toggle">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="http://beacon-project.io">
<img itemprop="logo" class="ds-logo m-r" src="assets/images/beacon-logo.png" height="40px" style="display: inline" alt="Beacon Project logo"> Beacon
</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right font-thin">
<li>
  <a href="/">Overview</a>
</li>
<li>
  <a href="team.html">Team</a>
</li>
<li>
  <a href="https://app.swaggerhub.com/apis/ELIXIR-Finland/ga-4_gh_beacon_api_specification/0.4.0">Spec</a>
</li>
<li>
  <a  href="faqs.html">FAQ</a>
</li>
<!-- <li>
  <a href="news.html">News</a>
</li> -->
  <li>
  <a href="contact.html">Contact</a>
</li>
</ul>
</div>
<!-- /.navbar-collapse -->
</div>
</nav>
</div>
