/**
ELIXIR colors:
 * orange: #F47D1F
 * dark blue: #023453
**/
a {
  color: #023453;
  text-decoration: none;
}

td ul {
    padding: 0px;
    list-style: inside;

}

td li {
    margin-left: 0px;
    padding: 0px;
}

code {
  font-size: 11px;
}
