<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="application-name" content="{{ site.name }}">
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:type" content="{{ site.type }}">
    <meta property="og:image" content="assets/images/social/og_image.png">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://dnastack.com/assets/images/twitter-image.png">
    <meta name="twitter:image:alt" content="{{ site.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BeaconOfBeacons">
    <meta name="twitter:title" content="{{ site.name }}">
    <script src="https://use.fontawesome.com/6d04cd987c.js"></script>
    <meta name="twitter:description" content="{{ site.description }}">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/toast.css">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16" />
</head>

<body>
    <div ds-scroll="">
        {% include header.html %}
        <div ui-view="" class="container-fluid">
          <div class="mx-width clearfix">
            <div class="col-md-3 hidden-sm hidden-xs p-v-xl">
              <a href="http://beacon-project.io"><img style="max-height:400px; position:absolute; top:130px; left: 60px;" class="pull-left" src="assets/images/beacon-logo.png"></a>
            </div>
            <div class="col-xs-12 col-md-9">
              <div class="p-v-xxl text-dark">
                <div class="m-t-l">
          {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include footer.html %}
    </div>
    <script src="scripts/vendor-f5a2baf215.js"></script>
    <script src="scripts/app-84e0ff76f9.js"></script>
</body>

</html>
